
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
	<div class="col-md-6">
		<img src="~/imagenes/logovacari.jpg" style="border-radius:0.3rem;" />
	</div>
	<div class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
		<h1>Centro de Especialdides Medicas</h1>
		<h1>"VACARI"</h1>
		<h2>Cuidamos tu salud.</h2>
		<p><input style="text-align:left; border-radius:0.3rem; width:200px; height:40px;" placeholder=" Usuario" /></p>
		<p><input type="password" style="text-align:left; border-radius:0.3rem; width:200px; height:40px;" placeholder=" Contraseña" /></p>
		<p><button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" onclick="location='../Paciente/Listar'">Ingreso</button></p>
	</div>
</div>
