
@{
	ViewBag.Title = "MostrarCertificadoMedico";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Certificado Medico</h2>
<br />
<div class="text-right">
	<p><label>Fecha</label></p>
	<input type="date" style="text-align:left; border-radius:0.3rem; width:200px; height:40px;" />
</div>

<div class="text-center">
	<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer">Imprimir</button>
</div>

