
@{
	ViewBag.Title = "Ingresar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Ingreso Personal</h2>
<br />
<div class="row">
	<div class="col-xl-6">
		<p>
			<label>Nombre Completo</label>
			<br />
			<input class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
		</p>
	</div>
	<div class="col-xl-3">
		<p>
			<label>Cedula</label>
			<br />
			<input class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
		</p>
	</div>
	<div class="col-xl-3">
		<p>
			<label>Telefono</label>
			<br />
			<input class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
		</p>
	</div>
</div>
<div class="row">
	<div class="col-xl-3">
		<p>
			<label>Cargo</label>
			<br />
			<select class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;">
				<option value="administrador">Administrador</option>
				<option value="enfermera">Enfermera</option>
				<option value="laboratorista">Laboratorista</option>
				<option value="medico">Medico</option>
				<option value="recepcionista">Recepcionista</option>
			</select>
		</p>
	</div>
	<div class="col-xl-3">
		<p>
			<label>Pago Cita</label>
			<br />
			<input class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
		</p>
	</div>
	<div class="col-xl-3">
		<p>
			<label>Pago Procedimiento</label>
			<br />
			<input class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
		</p>
	</div>
</div>
<br />
<div class="text-center">
	<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer">Ingresar</button>
</div>

