@model List<TESIS002.Models.PersonalModel>
@{
	ViewBag.Title = "Listar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Lista Personal</h2>
<br />
<div>
    <table class="table">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Cargo</th>
            <th scope="col"></th>
        </tr>
        @foreach (var personal in Model)
        {
            <tr>

                <td scope="col">@personal.NombrePersonal</td>
                <td scope="col">@personal.TelefonoPersonal</td>
                <td scope="col">@personal.CargoPersonal</td>
                <td scope="col">
                    <form action="Modificar" method="post">
                    <button name="IdPersonal" value="@personal.IdPersonal" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" type="submit">Modificar</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
<br />
<div class="text-center">
	<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" onclick="location='../Personal/Ingresar'">Nuevo</button>
	<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" onclick="location='../Personal/Modificar'">Modificar</button>
</div>

