
@{
	ViewBag.Title = "Crear";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Factura</h2>
<div class="text-right">
	<p>
		<label>N° Factura</label>
		<br />
		<input style="text-align:left; border-radius:0.3rem; width:200px; height:40px;" />
	</p>
</div>
<br />
<div class="row">
	<div class="col-xl-6">
		<p>
			<label>Nombre</label>
			<br />
			<input class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
		</p>
	</div>
	<div class="col-xl-3">
		<p>
			<label>Cedula</label>
			<br />
			<input class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
		</p>
	</div>
	<div class="col-xl-3">
		<p>
			<label>Fecha</label>
			<br />
			<input type="date" class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
		</p>
	</div>
</div>
<div class="row">
	<div class="col-xl-6">
		<p>
			<label>Dirección</label>
			<br />
			<input class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
		</p>
	</div>
	<div class="col-xl-3">
		<p>
			<label>Telefono</label>
			<br />
			<input class="col-xl" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
		</p>
	</div>
</div>
<br />
<div class="text-center">
	<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer">Cambiar Cliente</button>
	<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer">Buscar Detalles</button>
</div>
<br />
<div class="table-responsive">
	<table class="table">
		<tr>
			<th scope="col">Cantidad</th>
			<th scope="col">Detalle</th>
			<th scope="col">Valor Unitario</th>
			<th scope="col">Valor Total</th>
		</tr>
		<tr>
			<td scope="col">JUAN DAVID MOLINA PEREZ</td>
			<td scope="col">00001</td>
			<td scope="col">1234567890</td>
			<td scope="col">0000000</td>
	</table>
</div>
<div class="table-responsive">
	<table class="table">
		<tr>
			<th scope="col">Subtotal</th>
			<th scope="col">IVA 0%</th>
			<th scope="col">IVA 12%</th>
			<th scope="col">Total</th>
		</tr>
		<tr>
			<td scope="col">000000</td>
			<td scope="col">00001</td>
			<td scope="col">1234567890</td>
			<td scope="col">0000000</td>
	</table>
</div>
<br />
<div class="text-center">
	<button style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer">Enviar</button>
</div>

